html {
	--theme-color: orange;
	--header-bg: white;
	--footer-bg: var(--header-bg);
	--main-bg: dimgrey;
	--main-txt: white;
	--outline: solid 2px white;
	--outline-selected: dashed 4px white;
}


html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body, body * {
	box-sizing: border-box;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin: 0;
	scroll-snap-type: y proximity;
}

header, footer {
	background: white;
	/* position: sticky; */
	padding: 0 1rem;
}
footer {
	/* height: 10%; */
}

header {
	scroll-snap-align: start;
}
main {
	scroll-snap-align: center;
}
footer {
	scroll-snap-align: end;
}

main {
	/* min-height: 100vh; */
	background: var(--main-bg);
	color: var(--main-txt);
	/* padding: 4rem 0 4rem; */
}
main p {
  outline-offset: 8px;
}
main img {
	outline: var(--outline);
	outline-offset: -2px;
	display: block;
	width: 100%;
}
main h1 {
	color: var(--theme-color);
	text-transform: uppercase;
	font-weight: 200;
	text-align: center;
	outline-style: dotted;
	outline-offset: -10px;
}
main h3 {
	margin: 0;
}

.qs, .as {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.qs p, .as p {
	width: 100%;
	cursor: pointer;
}
.qs img, .as img {
	cursor: pointer;
}


a {
	color: rgb(0,100,200);
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
